
html {
    font-size: 62.5%;
    font-family: 'Offside', cursive;
    font-family: 'Barlow', sans-serif;
}


.wrapper {
    width:90%;
    margin: 0 auto;
    max-width:1920px;
  }

a {
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    list-style: none;
    font-size: 2rem;
}

img {
    width: 100%;
}

h2 {
    font-family: 'Offside';
    font-size: 4.2rem;

    margin: 0 0 30px;
}

h3 {
    font-family: 'Offside';
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
}

p {
    font-size: 2rem;
    font-family: 'Barlow';
    margin: 0;
}

button {
    margin:25px 0;
    padding: 10px;
}














/* header */
header {
    background-image: url(images/header-image.png);
    background-position: center;
    background-size: cover;
    height: 90vh;
    color: white;

}

header a{
    color: white;
    font-family: 'Offside';
    font-size: 2rem;
}


/* header nav */

header nav{
    padding: 30px 0;
}

nav a {
    float: left;
}

nav ul {
    float: right;
    margin: 0 50px;
}

nav ul li{
    float: left;
    font-weight: bold;
    margin: 0 25px;
}
    


/* header-mid */

.header-mid {
    clear: both
}

.header-mid h1{
    float: left;
    font-family: 'Barlow';
    font-size: 6.8rem;
    letter-spacing: 0.8px;
    font-weight: normal;
    margin: 0;
    
}

.header-mid .socials{
    float: right
}

.header-mid li {
    padding: 10px 0;
}















/* main */

/* section-1 */

.section-1 {
    /* padding: 5%; */
    background-color: #d6f1e4;
    overflow: hidden;
}

.section-1 h2 {
    color: #116500;
}

.section-1-read-more-button {
    color: white;
    background-color: #116500;
    font-family: 'Offside';
    font-size: 2rem;
    border: none;

}




/* section-1-top */


.section-1-top {
    margin: 50px 0;
}

.section-1-top h2 { 
    text-align: center;
    
}

.gallery img {
    float: left;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
}

.gallery img:nth-child(3) {
    margin-right: 0px;
}






/* section-1-bottom */

.section-1-bottom {
    margin:50px 0;
    
    
}

/* .section-1-bottom img {
    
    width: 400px;
} */

.section-1-bottom-image-container {
    width: 25%;
    float: left;
}

.section-1-bottom article {
    
    float: right;
    width: 75%;
    padding-left: 50px
}






















/* section-2 */



.section-2{
    position: relative;
    background-color: #213c28;
}

.section-2-read-more-button {
    color: #116500;
    background-color: white;
    font-family: 'Offside';
    font-size: 2rem;
    border: none;

}
    
    

/* section-2-top */

.section-2-top article {
    width: 50%;
    height: 500px;
    padding: 80px 50px 80px 0;
    float: left;
    color: white;
}

.section-2-top img {
    position: absolute;
    right: 0;
    width: 50%;
    height: 500px;
    object-fit: cover;
}




/* section-2-bottom */

.section-2-bottom article {
    float: right;
    padding: 80px 0 80px 50px;
    width: 50%;
    height: 500px;
    color: white;
}

.section-2-bottom img {
    width: 50%;
    height: 500px;
    position: absolute;
    left: 0;
    bottom: 0;
    object-fit: cover;
}




















/* section-3 */

.section-3 {
    background-color: #d6f1e4;
    /* height: 200px; */
}

/* .section-3 ul {
    height: 150px;
} */

.section-3 li{
    float: left;
    text-align: center;
    width: 33.33%;
    
}

.section-3 a {
     color: #2c2d2c;
     font-size: 2rem;
     margin: 100px;
     display: inline-block;
     width: 17%;
     text-align: center;
}








    













/* footer */

footer {
    background-color: #213c28;
    color: white;
    overflow: hidden;
}

.footer-top-container {
    overflow: hidden;


    padding-top: 40px;
    padding-bottom: 40px;

    
}

.form, 
.contact,
.footer-menu {
    float: left;
}
    
    


.form {
    width: 60%;
}

.contact {
    width: 
    30%;
}


.footer-menu {
    text-align: right;
    width: 10%;
}

.footer-menu li {
    margin: 5px 0;
}








.copyright {
    background-color: #2c2d2c;
    text-align: center;
}

.copyright p {
    margin: 0;
    padding: 15px;
}





/* SMALL DESKTOP */

@MEDIA (max-width: 1000px) {

    header { 
        height: 60vh;
    }

    .header-mid h1 {
        
        font-size: 4.8rem;
        
    }

}



/* TABLET */

@MEDIA (max-width: 800px) {

    header { 
        height: 40vh;
    }

    h1 {
        font-size: 3.8rem;
    }
        
        


    nav ul {
        float: right;
        margin: 0px 10px;
    }

    header a {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 2.8rem;
    }

    P {
        font-size: 1.5rem;
    }

}


/* MOBILE */

@MEDIA (max-width: 570px) {

    .menu,
    .socials {
        display: none;
    }

    .section-1 {
        height: 110vh;
    }

    .section-1-bottom-image-container {
        display: none;
    }

    .section-1-bottom article {
        
        width: 100%;
        padding: 0;
        
    }

    .gallery img:first-child {
        float: left;
        width: calc((100% - 15px) / 2);
        margin-right: 15px;
    }

    .gallery img:nth-child(2){
        float: left;
        width: calc((100% - 15px) / 2);
        margin-right: 0px;
    }

    .gallery img:nth-child(3){
        float: left;
        width: 100%;
        margin-right: 0px;
        margin-top: 50px;
        height: 35vh;
        object-fit: cover;
        
        
    }


    .section-2-top article,
    .section-2-bottom article {
        width: 100%;
        /* height: 250px; */
        padding: 0;
        float: none;
        position: relative;
        
    }

    .section-2-top article,
    .section-2-bottom article {
        padding-top: 250px;
    }



    .section-2-top img  {
        position: absolute;
        top: 0;
    }

    .section-2-bottom img {
        position: absolute;
        top: 50%;
    }
        

    .section-2-top img,
    .section-2-bottom img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    button {
        position: absolute;
        right: 30%;
        left: 30%;
    }

    .section-3 li {
        float: inherit;
        text-align: center;
        width: 100%;
    }

    .section-3 a {
        margin: 50px;
    }
        
        

}
